@media screen and (max-width:480px) {
    .cabecalho {
    }
    .cabecalho__titulo {
    }
    .cabecalho img{
        display: block;
    }
    .menu {
        display: none;
    }
    .menu__lista {
    }
    .hero {
        flex-direction: column;
    }
    .hero__texto {
        align-items: center;
    }
    .hero__titulo {
        font-size: 2.5rem;
        text-align: center;
        width: 23.625rem;
        margin: auto;
    }
    .hero__paragrafo {
        width: 23.625rem;
        margin: auto;
        font-size: 1rem;
        text-align: center;
    }
    .hero__botao {
        text-align: center;
    }
    .hero__img {
    }
    .companies {
    }
    .companies__texto {
    }
    .companies__container {
        width: 23.75rem;
    }
    .companies__container img{
        width: 4.375rem;
    }
    .branding {
        flex-direction: column-reverse;
    }
    .branding__img img {
        width: 23.4375rem;
        height: 24rem;
        margin: auto;
    }
    .branding__texto {
        align-items: center;
    }
    .branding__titulo {
        width: 23.75rem;
        margin: auto;
        font-size: 2rem;
        text-align: center;
    }
    .branding__paragrafo {
        width: 23.75rem;
        font-size: 0.875rem;
        text-align: center;
    }
    .custome {
        flex-direction: column;
    }
    .custome__texto {
        align-items: center;
    }
    .custome__titulo {
        width: 23.75rem;
        margin: auto;
        font-size: 2rem;
        text-align: center;
    }
    .custome__paragrafo {
        width: 23.75rem;
        font-size: 0.875rem;
        text-align: center;
    }
    .custome__img img{
        width: 23.4375rem;
        height: 24rem;
        margin: auto;
    }
    .testimonial {
    }
    .testimonial__paragrafo {
    }
    .testimonial__titulo {
        width: 20.75rem;
        margin: auto;
        font-size: 2rem;
    }
    .testimonial__container {
    }
    .testimonial__card {
    }
    .card__titulo {
    }
    .card__info {
    }
    .contact {
        flex-direction: column;
        align-items: center;
    }
    .contact__img {
        display: none;
    }
    .contact__texto {
        align-items: center;
    }
    .contact__titulo {
        width: 23.75rem;
        margin: auto;
        font-size: 2rem;
        text-align: center;
    }
    .contact__paragrafo {
        width: 23.75rem;
        font-size: 0.875rem;
        text-align: center;
    }
    .contact__botao {
        width: 10.4375rem;
        height: 3.00288rem;;
    }
    .rodape {
        flex-direction: column;
    }
    .rodape__infos {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin-left: 0
    }
    .rodape__lista {
        list-style: none;
        align-items: center;
        padding-left: 0;
        margin-left: 0
    }
    .lista__titulo__container{
        align-items: center;
    }
    .lista__titulo {
        align-items: center;
    }
    .lista__texto {

    }
    .rodape__texto {
        font-size: 0.7rem;
        width: 14.75rem;
    }
    
}